/*
	Author: webthemez.com 
*/ 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic,500italic);
@import url("../fonts/Roboto-Regular.ttf");
 
/* Global styles
================================================== */

html{
	overflow-x: hidden !important;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body{
	border: 0;
	margin: 0;
	padding: 0;
	color: #737881;
	font-size: 14px;
	background: #000;
}

a:link,
a:visited{
    text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: #263238;
	cursor: pointer;
}

section{
	position: relative;
}

.no-padding{
	padding: 0;
}

a:focus{
	outline: 0;
}
a{
	color: #737881;
}

a.read-more:hover{
	color: #263238;
}
ul,li{
	list-style: none;
}

/* Typography
================================================== */

body, p{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 36px;
    line-height: 48px;
}

h2{
    font-size: 30px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: #566366;
}

h3{
    font-size: 22px;
    line-height: 24px;
  	text-transform: uppercase;
  	font-weight: 500;
  	 
    color: #263238;
}

h4{
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
}

h5{
    font-size: 14px;
    line-height: 24px;
    color: #263238;
}


/* Gadget
================================================== */
/*.gadget-social section{

}*/

/*Button styles
=============================================*/
.btn-default{
	font-size: 18px;
	line-height: 24px;
	padding: 20px 19px;
	border: 2px solid#fff;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 700;
	background: transparent;
	color: #fff;
	-webkit-transition: all .4s ease-in 0s;
	-o-transition: all .4s ease-in 0s;
	transition: all .4s ease-in 0s;
}
.btn-default.featured{
	font-size: 18px;
	line-height: 24px;
	padding: 20px 19px;
	border: 2px solid#263238;
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 700;
	background: transparent;
	color: #263238;
	margin-top: 50px;
	-webkit-transition: all .4s ease-in 0s;
	-o-transition: all .4s ease-in 0s;
	transition: all .4s ease-in 0s;
}
.btn-default:hover{
	background: #fff;
	color: #000;
	border-color: #fff;
}
.btn-default.featured:hover{
	background: #263238;
	color: #fff;
	border-color:#263238;
}

/*Global styles
==============================================*/
.section-padding{
	padding: 100px 0px;
}
p{
	color: #696969;
}
h2.heading-title{
	margin-bottom: 50px;
	font-weight: 700;
}
.section-heading{
	width: 80%;
	margin: 0 auto;
}

/*=============================================
  Banner styles
================================================*/

#section-banner{
	background: url("../images/background/banner.jpg") ;
	background-size: cover;
}
.banner-content{
	padding: 60px 0px 300px 0px;
}

h2.title{
	font-size: 57px;
	line-height: 72px;
	color: #fff;
	font-weight: 600;
	text-transform: initial;
}
h2.title span{
	font-size: 26px;
	line-height: 51px;
	color: #fff;
	font-weight: 600;
	text-transform: initial;
	/* width: 243px; */
	display: inline-block;
	padding: 15px 0;
	font-weight: normal;
}
.line-top{
	width: 930px;
	color: #fff;
	background: #fff;
	height: 2px;
	margin: 32px auto;
}
.line-btm{
	width: 930px;
	color: #fff;
	background: #fff;
	height: 2px;
	margin: 32px auto;
}
.banner-content a.btn-default {
	padding: 15px 36px!important;
}


/*==================================================
	navbar-menu
=====================================================*/
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #263238;
}
.navbar-default .navbar-toggle {
  border-color: #263238;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-toggle {
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.section-menu{
	z-index: 9999;
}
.navbar{}
.navbar-default{
	background: #263238;
	border: 0px;
	border-radius: 0px;
	border-top: 1px solid #263238;
}
.navbar-nav {}*/
.navbar-nav li{
	/*padding-right: 40px;*/
}
.navbar-default .navbar-nav > li > a{
	font-weight: 400;
	padding: 16px 20px;
	font-size: 15px;
	font-family: 'Roboto', serif;
	color: #fff;
	line-height: 30px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover,.navbar-default .navbar-nav > li > a:focus{
	color: #fff;
}
.main-nav{
	width: 100%;
	margin: 0 auto;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #000;
}

.navbar-brand img{
	float: left;
	margin-right: 20px;
}
.navbar-brand{
	text-transform: uppercase;
	font-weight: 700;
	color: #fff!important;
	line-height: 40px;
	padding-top: 25px;
	font-size: 22px;
}
.navbar-brand span{
	color: #263238;

}

/*==================================================
	navbar-language
=====================================================*/

h5.navbar-language{
	color: #ffffff;
	font-family: 'Roboto';
	text-transform: uppercase;
	padding-top: 4px;
}

a.navbar-language{
	color: #ffffff;
	font-family: 'Roboto';
	text-transform: uppercase;
	padding-right: 5px;
}

li.navbar-language{
	padding-top: 15px;
}

/*==================================================
	section-overview
=====================================================*/

/*#section-overview{
	padding: 75px 0px 80px;
}
.overview-box{}
.overview-box h3{
	margin-bottom: 35px;
}*/


/*==================================================
	section-profile
=====================================================*/
#section-skills .btn-default.featured{
	padding: 0px 36px!important;
}
#section-profile{
	background: #f2f2f1;
	top: -70px;
}

/*.profile-bg {
    background-color: transparent;
    background: url("../images/profile/profile-bw.jpg");
    position: absolute;
    background-clip: border-box;
    background-attachment: scroll;
    background-origin: padding-box;
    background-repeat: no-repeat;
    left: 120px;
    top: 120px;
    z-index: 2;
    background-position: -20px center, 0px center; 
    width: 18.51%;
    height: 30%;
    border-right: 4px solid #263238;
    border-left: 4px solid #263238;
    border-bottom: 4px solid #263238;
    border-top: 4px solid #263238;
}*/

.profile-desc{
	padding-left: 80px;
	padding-top: 10px;
}
.service-inner{
	float: left;
	margin-right: 12px;
	margin-bottom: 20px;
	width: 48%;
}
.service-inner i{
	font-size: 32px;
	color: #263238;
	float: left;
}
.service-box {
	margin-left: 60px;
}
.service-box h3{
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
}
.service-box p{
	font-size: 14px;
	line-height: 22px;
}

/*section-skills
===============================================*/
.skills-box{
	margin-bottom: 25px;
}
.skills-box label{
	text-transform: uppercase;
	margin-bottom: 4px;
	font-weight: 600;
	color: #566366;
}
.progress {
    height: 18px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #F2f2f1;
    border-radius: 0px;
    box-shadow: none;
}
.progress-bar {
	box-shadow: none;
	background-color: #263238;
	text-align: right;
	font-weight: 700;
	font-size: 13px;
	padding-right: 10px;
	padding-top: 0px;
}


/*section-education
==========================================*/
/*
#section-education{
	background: #f2f2f1;
	position: relative;
}

a.education{
	color: #566366;
	font-weight: bold;
}

#section-education:after{
	position: absolute;
	content:"";
	width: 60px;
	height: 60px;
	background: #f2f2f1;
	bottom: -25px;
	left: 48%;
	border-radius: 50%;
}

.education-inner{}
.education-inner{
	width: 95%;
}
.education-desc{
	margin-top: -12px;
}
.education-box{
	margin-bottom: 80px;
}
.education-title{

}
.education-box.last{
	margin-bottom: 0px;
}
.education-sub{
	margin:-3px 0px 12px;
}
.result,.year{
	background: #263238;
	color: #fff;
	padding: 9px 12px;
	display: inline-block;
	font-weight: 500;
	margin-bottom: 10px;
}
.result{
	text-transform: uppercase;
}
.year{
	text-transform: capitalize;
}

.client-name{
	color: #566366;
	text-transform: uppercase;
	margin-bottom: 50px;
}
*/

/*====================================================
	section-education
====================================================*/
#section-education{
	background: #ffffff;
	position: relative;
}

#education-details{
	background: #000000;
	position: relative;
}

h3.education{
	color: #737881;
	font-family: 'Roboto';
	text-transform: initial;
}

h3.education-title{
	color: #737881;
	font-family: 'Roboto';
	text-transform: initial;
}

h5.education{
	color: #737881;
	font-family: 'Roboto';
	text-transform: initial;
}

h5.education-title{
	color: #737881;
	font-family: 'Roboto';
	text-transform: initial;
}

a.education{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
}

/*====================================================
	section-experience
====================================================*/
#section-experience{
	background: #ffffff;
	position: relative;
}

#experience-details{
	background: #000000;
	position: relative;
}

h3.experience{
	color: #737881;
	font-family: 'Roboto';
	text-transform: initial;
}

h5.experience{
	color: #737881;
	font-family: 'Roboto';
}

a.experience{
	color: #566366;
	font-weight: bold;
}

.social-link-tinky-winky a i{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	color:#566366;
	font-size: 30px;
	line-height: 35px;
}
.social-link-tinky-winky a:hover i{
	color: #263238;
}

/*====================================================
	section-curriculum
====================================================*/
#section-curriculum{
	background: #000000;
	position: relative;
}

h3.curriculum{
	color: #737881;
	font-family: 'Roboto';
	text-transform: initial;
}

h5.curriculum{
	color: #737881;
	font-family: 'Roboto';
}

a.curriculum{
	color: #566366;
	font-weight: bold;
}

/*====================================================
	section-skills
====================================================*/
#section-skills{
	background: #000000;
	position: relative;
}


/*====================================================
	section-resume
====================================================*/
/*#section-resume{
	background: #f2f2f1;
	position: relative;
}*/

/*====================================================
	section-portfolio
====================================================*/
#section-portfolio{
	background: #f2f2f1;
	position: relative;
}

#section-portfolio
.section-heading{
	margin-bottom: 100px;
}
.portfolio-box{
	position: relative;
	margin-bottom: 30px;
	-webkit-transition: all .4s linear 0s;
	-o-transition: all .4s linear 0s;
	transition: all .4s linear 0s;
}
.image-overlay{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(8, 194, 230, 0.8);
	top: 0px;
	opacity:0;
	-webkit-transition: all .3s linear 0s;
	-o-transition: all .3s linear 0s;
	transition: all .3s linear 0s;
}
.image-overlay a i{
	font-size: 50px;
	color: #fff;
	margin-top: 96px;
}
.portfolio-box:hover .image-overlay{
	opacity: 1;
}


/*SECTION contact
=================================================*/

#section-contact{
	background: #ffffff;
}

#section-contact .heading-title{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
}
.contact-left{
	padding-top: 30px;
}
.contact-left p{
	color: #A1B9CA;
	font-size: 16px;
	line-height: 30px;
}

.contact-left h2{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
}
.location{
	margin: 45px 0px;
}
.contact-left ul{
	margin-left: -40px;
}
.contact-left ul li a{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
	margin-left: 40px;
}

a.contact{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
}


.contact-left ul li span{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
}

.contact-box{
	margin-bottom: 40px;
}
.contact-box .form-group{
	margin-bottom: 39px;
}
.contact-box label{
	color: #737881;
	font-family: 'Roboto';
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 18px;
}

.contact-box .form-control{
	height: 50px;
	border-radius: 0px;
	background: #002037;
	border: 0px;
	border: 1px solid #737881;
	color: #B9D0E1;
}
.contact-form .btn-default{
	background: #263238;
	border: 0px;
}

img {
vertical-align: middle;
}
.form-control{
	background: #212121;
	border-radius: 0;
	margin-bottom: 8px;
	display: inline-block;
	padding: 6px 10px;
	height: 42px;
	border-color: #263238;
}
.img-responsive {
display: block;
height: auto;
max-width: 100%;
}

.img-rounded {
border-radius: 3px;
}

.img-thumbnail {
background-color: #263238;
border: 1px solid #ededf0;
border-radius: 3px;
display: inline-block;
height: auto;
line-height: 1.428571429;
max-width: 100%;
moz-transition: all .2s ease-in-out;
o-transition: all .2s ease-in-out;
padding: 2px;
transition: all .2s ease-in-out;
webkit-transition: all .2s ease-in-out;
}

.img-circle {
border-radius: 50%;
}

.timeline-centered {
position: relative;
margin-bottom: 30px;
margin-top: 20px;
}

.timeline-centered:before, .timeline-centered:after {
content: " ";
display: table;
}

.timeline-centered:after {
clear: both;
}

.timeline-centered:before, .timeline-centered:after {
content: " ";
display: table;
}

.timeline-centered:after {
clear: both;
}

.timeline-centered:before {content: '';position: absolute;display: block;width: 4px;background: #1E2431;/*left: 50%;*/top: 20px;bottom: 20px;margin-left: 30px;}

.timeline-centered .timeline-entry {
position: relative;
/*width: 50%;
float: right;*/
margin-top: 5px;
margin-left: 30px;
margin-bottom: 10px;
clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
content: " ";
display: table;
}

.timeline-centered .timeline-entry:after {
clear: both;
}

.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
content: " ";
display: table;
}

.timeline-centered .timeline-entry:after {
clear: both;
}

.timeline-centered .timeline-entry.begin {
margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
margin-left: 0;
margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
	left: auto;
	right: -100px;
	text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
	float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
	margin-left: 0;
	margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
	left: auto;
	right: 0;
	margin-left: 0;
	margin-right: -9px;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
position: relative;
margin-left: -20px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
content: " ";
display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
	content: " ";
	display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
	clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
	position: absolute;
	left: -100px;
	text-align: right;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
	display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
	font-size: 15px;
	font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
	font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
	background: #263238;
	color: #737881;
	display: block;
	width: 40px;
	height: 40px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-align: center;
	-moz-box-shadow: 0 0 0 5px #f5f5f6;
	-webkit-box-shadow: 0 0 0 5px #f5f5f6;
	box-shadow: 0 0 0 5px #f5f5f6;
	line-height: 40px;
	font-size: 15px;
	float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
	background-color: #263238;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
	background-color: #263238;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
	background-color: #263238;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
	background-color: #263238;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
	background-color: #263238;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
	background-color: #263238;
	color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {position: relative;background: #1E2431;padding: 20px 30px;margin-left: 60px;-webkit-background-clip: padding-box;-moz-background-clip: padding;background-clip: padding-box;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin-bottom: 25px;}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 9px 9px 0;
	border-color: transparent #1E2431 transparent transparent;
	left: 0;
	top: 10px;
	margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
	color: #737881;
	font-family: 'Roboto', sans-serif;    font-weight: normal;    font-size: 16px;    line-height: 30px;
}

	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
		margin-top: 15px;
	}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
	font-size: 16px;
	margin-bottom: 10px;
}

	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
		color: #303641;
	}

	.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
		-webkit-opacity: .6;
		-moz-opacity: .6;
		opacity: .6;
		-ms-filter: alpha(opacity=60);
		filter: alpha(opacity=60);
	}


/*==========================================================
	section Footer
	============================================================*/

	#section-footer{
		background: #ffffff;
		padding: 10px 0px;
	}
	#section-footer h4{
		color: #737881;
		margin-top: 10px;
		font-weight: bold;
	}
	#section-footer h6{
		color: #737881;
		margin-top: 10px;
		font-weight: bold;
	}

.social-link{}
.social-link a i{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	color: #737881;
	font-size: 30px;
	line-height: 35px;
}
.social-link a:hover i{
	color: #263238;
}

/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {

}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
	.banner-content {
	    padding: 65px 0px;
	}
	h2.title{
		font-size: 40px;
		line-height:40px;
	}
	.line-top{
		width: 600px;
	}
	.line-btm{
		width: 600px;
	}

	.navbar-brand {
    	padding-top: 10px;
	}
	/*.navbar-brand img {
	    margin-right: 4px;
	}*/

	.navbar-default .navbar-nav > li > a {
	    padding: 15px 9px;
    	font-size: 14px;
	}
	.service-inner {
	    width: 48%;
	}

	.image-overlay a i {
	    margin-top: 65px;
	}

}

/* Small Devices Potrait */
@media (max-width : 767px){

	
}

/* Extra Small Devices, Phones */ 
@media (max-width : 479px) {

	h2.heading-title{
	margin-bottom: 30px;
	font-weight: 700;
	}	

}

/* Custom, iPhone Retina */ 
@media (max-width: 478px)  {
	.navbar-default {
		padding: 10px 0;
	}
	.banner-content a.btn-default {
    padding: 15px 25px!important;
    margin-left: 25px;
    font-size: 16px;
	}
	.banner-content{
		padding:0 15px;
	}
	h2.title {
    font-size: 38px;
    line-height: 72px;
	margin-left:15px;
	}
	h2.title span {
    font-size: 18px;
    line-height: 35px;
    padding: 10px 20px;
	}
	h2.heading-title{
	margin-bottom: 30px;
	font-weight: 700;
	}	

	.navbar-default .navbar-nav > li > a {
    	padding: 15px 20px;
	}

	.banner-content {
	    padding: 55px 0px;
	}

	.navbar-brand {
	    padding-top: 4px;
	}


	.profile-desc {
   	 padding-left: 10px;
	}
	.service-wrapper {
   	 padding-left: 20px;
	}

	.service-inner {
	    width: 100%;
	}
	.skills-desc{
		margin-bottom: 40px;
	}
	.education-inner{
		margin-bottom: 40px;
	}

	.image-overlay a i {
	    margin-top: 110px;
	}
}

.navbar-header {
  float: none;
}
.navbar-left,.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-collapse.collapse {
  display: none!important;
}
.navbar-nav {
  float: none!important;
  margin-top: 7.5px;
}
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in{
  display:block !important;
}